<div id="page-content">
  <app-display-header [color]="palette.color1"></app-display-header>
  <app-display-header-banner [color]="palette.color2"></app-display-header-banner>
  <div style="display: flex;">
    <app-display-main-blurb [color]="palette.color2"></app-display-main-blurb>
    <app-display-secondary-blurb [color]="palette.color2"></app-display-secondary-blurb>
  </div>
  <app-display-fullwidth-section [backgroundColor]="palette.color4" [textColor]="palette.color2"
    [secondaryColor]="palette.color5"></app-display-fullwidth-section>
  <app-display-footer [backgroundColor]="palette.color3" [textColor]="palette.color4"></app-display-footer>
</div>
