<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Chroma</span>
    <span class="nav-spacer"></span>
    <span *ngIf="(accountService.currentUser$ | async) as user">
      <button mat-icon-button aria-label="Toggle logged in user menu" [matMenuTriggerFor]="userSettingMenu">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #userSettingMenu="matMenu">
        <button mat-menu-item (click)="logout()">Logout <mat-icon>logout</mat-icon></button>
        <button mat-menu-item>TODO: Edit Profile</button>
        <button mat-menu-item>TODO: My Palettes</button>
      </mat-menu>
    </span>
    <div class="login-container" *ngIf="(accountService.currentUser$ | async) === null">
      <form (ngSubmit)="login()" #loginForm="ngForm" autocomplete="off">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text" name="username" [(ngModel)]="model.username">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" name="password" [(ngModel)]="model.password">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <button mat-button type="submit">Login</button>
      </form>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
