<mat-card>
  <mat-card-title>
    {{palette.title}}
  </mat-card-title>
  <div style="display: flex;">
    <div [style.background]="palette.color1" style="width: 20%; height: 80px;"></div>
    <div [style.background]="palette.color2" style="width: 20%; height: 80px;"></div>
    <div [style.background]="palette.color3" style="width: 20%; height: 80px;"></div>
    <div [style.background]="palette.color4" style="width: 20%; height: 80px;"></div>
    <div [style.background]="palette.color5" style="width: 20%; height: 80px;"></div>
  </div>
</mat-card>
