<mat-card>
  <h1>{{palette.title}}</h1>
  <mat-card style="margin-bottom: 40px; width: 70%;">
    <app-horizontal-copypaste [colorName]="palette.color1"></app-horizontal-copypaste>
    <app-horizontal-copypaste [colorName]="palette.color2"></app-horizontal-copypaste>
    <app-horizontal-copypaste [colorName]="palette.color3"></app-horizontal-copypaste>
    <app-horizontal-copypaste [colorName]="palette.color4"></app-horizontal-copypaste>
    <app-horizontal-copypaste [colorName]="palette.color5"></app-horizontal-copypaste>
  </mat-card>

  <!-- <h2>{{formattedDate}}</h2> -->

  <mat-card style="margin-bottom: 40px;">
    <mat-grid-list cols=" 5" rowHeight="480px">
      <mat-grid-tile>
        <app-vertical-color-display style="width: 100%;" [colorName]="palette.color1">
        </app-vertical-color-display>
      </mat-grid-tile>

      <mat-grid-tile>
        <app-vertical-color-display style="width: 100%;" [colorName]="palette.color2">
        </app-vertical-color-display>
      </mat-grid-tile>

      <mat-grid-tile>
        <app-vertical-color-display style="width: 100%;" [colorName]="palette.color3">
        </app-vertical-color-display>
      </mat-grid-tile>

      <mat-grid-tile>
        <app-vertical-color-display style="width: 100%;" [colorName]="palette.color4">
        </app-vertical-color-display>
      </mat-grid-tile>

      <mat-grid-tile>
        <app-vertical-color-display style="width: 100%;" [colorName]="palette.color5">
        </app-vertical-color-display>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>

  <mat-card>
    <app-palette-theme-display [palette]="palette"></app-palette-theme-display>
  </mat-card>
</mat-card>
