<section class="content" [style.background]="color">
  Mauris eu elit tellus. Cras finibus vestibulum libero vel dapibus. Fusce sed ipsum id dui suscipit pretium.
  <br />
  <br />
  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent bibendum nisi nec
  iaculis
  pharetra. Mauris id metus aliquet, pulvinar nisl eget, volutpat enim. Nam sed commodo nibh. Quisque consequat felis
  vel ipsum porta elementum. In tempus tempor aliquam. Ut pharetra elit nec nisi viverra luctus.
</section>
