<section class="content" [style.color]="color">
  <p class="header-text">Tristique Augue Imperdiet</p>
  Mauris eu elit tellus. Cras finibus vestibulum libero vel dapibus. Fusce sed ipsum id dui suscipit pretium.
  <br />
  <br />
  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent bibendum nisi nec
  iaculis
  pharetra. Mauris id metus aliquet, pulvinar nisl eget, volutpat enim. Nam sed commodo nibh. Quisque consequat felis
  vel ipsum porta elementum. In tempus tempor aliquam. Ut pharetra elit nec nisi viverra luctus.
  <div class="avatar-container">
    <p>Dignissim risus eu enim</p>
    <div class="avatar-row">
      <div class="avatar">
        <img src="../../../../assets//images/avatar1.jpg">
      </div>
      <div class="avatar">
        <img src="../../../../assets//images/avatar2.jpg">
      </div>
      <div class="avatar">
        <img src="../../../../assets//images/avatar3.jpg">
      </div>
      <div class="avatar" id="avatar4">CS</div>
      <div class="avatar" id="avatar5">+12</div>
    </div>
  </div>
</section>
