<section [style.background]="backgroundColor">
  <div id="blurb-container">
    <p [style.color]="textColor" class="blurb" id="main-blurb">
      Praesent maximus vehicula orci, nec malesuada risus convallis id. Nulla pulvinar quam
      eget turpis bibendum feugiat. Praesent interdum pharetra congue. Phasellus sollicitudin imperdiet nulla, ut
      efficitur mauris sollicitudin viverra. Duis sem quam, rhoncus et nibh vel, maximus semper ipsum. Fusce accumsan
      dolor nec dolor eleifend vehicula. Morbi ipsum mauris, volutpat in augue varius, ultrices tincidunt odio.
    </p>
    <p [style.color]="secondaryColor" class="blurb" id="secondary-blurb">
      In eleifend sem a diam lacinia, pharetra suscipit metus bibendum. Maecenas ac nibh non sem ultrices tincidunt a
      vitae felis. Suspendisse quam lectus, varius nec nunc sed, sodales iaculis odio. Maecenas volutpat vestibulum
      massa,
      a ultricies diam eleifend sit amet. Nam quis tempus mi.
    </p>
  </div>
  <img src="../../../../assets/images/lounge.jpg">
</section>
