<div style="justify-content: center; display: flex; margin-top: 40px;"
  *ngIf="(accountService.currentUser$ | async) === null">
  <mat-card style="width: 75%;">
    <button mat-button (click)="registerToggle()">Register?</button>
    <app-registration (cancelRegistration)="cancelRegisterMode($event)" *ngIf="registerMode"></app-registration>
  </mat-card>
</div>
<div *ngIf="randomPalette">
  <div style="display: flex;">
    <app-new-palette-color [color]="randomPalette.color1" style="width: 100%;"></app-new-palette-color>
    <app-new-palette-color [color]="randomPalette.color2" style="width: 100%;"></app-new-palette-color>
    <app-new-palette-color [color]="randomPalette.color3" style="width: 100%;"></app-new-palette-color>
    <app-new-palette-color [color]="randomPalette.color4" style="width: 100%;"></app-new-palette-color>
    <app-new-palette-color [color]="randomPalette.color5" style="width: 100%;"></app-new-palette-color>
  </div>
  <div style="display: flex; justify-content: center; margin-top: 20px;">
    <button mat-button color="primary" (click)="generateRandomPalette()">New Colors</button>
    <mat-form-field>
      <input matInput type="text" placeholder="Palette title" [(ngModel)]="randomPalette.title">
    </mat-form-field>
    <!-- TODO: Prompt user to register- save palette to localstorage for retrieval -->
    <button mat-button color="primary" (click)="createNewPalette()"
      *ngIf="(accountService.currentUser$ | async) && randomPalette.title">
      Save Palette
    </button>
  </div>
</div>
<div *ngIf="!loading">
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-paginator [pageIndex]="pagination.currentPage - 1" [length]="pagination.totalItems"
      [pageSize]="pagination.itemsPerPage" [pageSizeOptions]="[5, 10, 25, 100]" (page)="handlePageEvent($event)"
      (click)="loadPalettes()">
    </mat-paginator>
    <div style="justify-content: center;" *ngFor="let palette of palettes">
      <mat-grid-tile>
        <app-palette-card [palette]="palette"></app-palette-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
  <mat-paginator [pageIndex]="pagination.currentPage - 1" [length]="pagination.totalItems"
    [pageSize]="pagination.itemsPerPage" [pageSizeOptions]="[5, 10, 25, 100]" (page)="handlePageEvent($event)"
    (click)="loadPalettes()">
  </mat-paginator>
</div>
